:host {
    display: block;
    width: 100%;
    height: 110vh;
    background-color: #68C382;
    position: relative;
    overflow: hidden;
    
}

.main-div{
    position: relative;
    margin: 10px;
}

.inhalt{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.inhalts-container{
    position: relative;
    margin: 20px;
}

.inhalt-roboter{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.inhalt-lösung{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.flexbox-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    
}

#flexbox-passworteingabe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#flexbox-passworteingabe *{
    margin: 0.5em auto;
}

#flexbox-passworteingabe .password-label{
    text-align: center;
}

my-button {
    margin: 10px;
   
}

@media only screen and (min-width: 540px) {
    .inhalt{
        width: 80%;
    }
    

    .inhalt-roboter{
        width: 80%;
    }

    .inhalt-lösung{
        width: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .inhalt{
        width: 500px;
    }

    .inhalt-lösung{
        width: 550px;
    }

    .inhalt-roboter{
        width: 670px;
        
    }
}

.password-input{
    padding: 0.5em;
    margin: 1em 0 0 0;
    display: block;
}

.password-label{
    font-size: 1.5em;
}

@media only screen and (min-width: 540px){
    .password-input{
        width: 300px;

    }
}