:host {
    display: block;
    width: 100%;
    height: 105vh;
    background-color: #68C382;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    margin:0em;
    padding:0em;
}

.main-div{
    margin: 0.5em;
    margin-top:2em;
}

.inhalts-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.3fr 0.7fr; 
    gap: 0em 0em; 
    grid-template-areas: 
      "bubble1 bubble1 img"
      "button button button"; 

/*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
    margin: 0.5em;
}



.aufgaben-container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.2fr 0.8fr; 
    gap: 0em 0em; 
    grid-template-areas: 
      "aufgabenBild"
      "button"; 

    margin: 0.5em;
  }


#flexbox-passworteingabe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5em;
}

.passwort-input { 
    display:flex;
    align-self: center;
    justify-content: center;
    padding: 0.5em;
}

 #passwort-label{
    text-align: center;
    display:flex;
    align-self: center;
    justify-content: center;
}


#fehlermeldung-container {
    float: both;
    justify-content: center;
    width: 10em;
    background-color: #FFD700;
    border: 4px solid black;
    border-radius: 40px;
    box-shadow: 0 5px #99999911;
    word-wrap: break-word;
    margin: 2em;
}

.bubble1 {
    grid-area: bubble1; 

    position: relative;
    border-radius: 40px;
    background: #ffffff;
    border: 4px solid #000000;
    margin: 2.5em;
    margin-bottom: 4em;
}

.bubble1:after, .bubble1:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bubble1:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 0.75em;
    margin-top: -0.75em;
}

.bubble1:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #000000;
    border-width: 0.9em;
    margin-top: -0.9em;
} 

.button{
    grid-area: button;
    display:flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 7.5em;
}

p{
    font-size:1em;
    margin: 1em;
}

#aufgabenBild{
    grid-area: aufgabenBild;
    display:flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 1em;
}

img{
    grid-area: img;
    width: 14em;
}


@media only screen and (max-width: 768px) {
    .aufgabenText{
        width: 30em;
    }
}

.aufgabenText{
    width:17em;
}

.joules-img{
    margin-top:5em;
}

my-button{
    font-size: 0.75em;
}

h1{
    font-size:1.25em;
    text-align: center;
}

.flexbox-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-button{
    display:flex;
    align-self: center;
    justify-content: center;
    margin-left: 1.5em;
}

@media only screen and (min-width: 200px) {
    .main-div{
        font-size: 13px;
    }
 }

@media only screen and (min-width: 540px) {
   .main-div{
       font-size: 15px;
   }
}

@media only screen and (min-width: 650px) {
    .main-div{
        font-size: 17px;
    }
 }


@media only screen and (min-width: 850px) {
    .main-div{
        font-size: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .main-div{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1400px) {
    .main-div{
        font-size: 30px;
    }
}









/*
.main-div{
    position: relative;
    margin: 10px;
}

.inhalt{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.inhalts-container{
    position: relative;
    margin: 20px;
}

.inhalt-roboter{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.inhalt-lösung{
    z-index: 20;
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.flexbox-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    
}

#flexbox-passworteingabe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#flexbox-passworteingabe *{
    margin: 0.5em auto;
}

#flexbox-passworteingabe .passwort-label{
    text-align: center;
}

my-button {
    margin: 10px;
   
}

@media only screen and (min-width: 540px) {
    .inhalt{
        width: 80%;
    }
    

    .inhalt-roboter{
        width: 80%;
    }

    .inhalt-lösung{
        width: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .inhalt{
        width: 500px;
    }

    .inhalt-lösung{
        width: 550px;
    }

    .inhalt-roboter{
        width: 670px;
        
    }
}

.password-input{
    padding: 0.5em;
    margin: 1em 0 0 0;
    display: block;
}

.password-label{
    font-size: 1.5em;
}

@media only screen and (min-width: 540px){
    .password-input{
        width: 300px;

    }
}
*/