:host {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #68C382;  
    position: relative;    
    overflow: hidden;      
}   

.main-div{
    position: relative;
    margin-bottom: 10px;
    border: 4px solid black;
}



.flexbox-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 4px solid black;
}

    h1{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
  
    my-button {
        margin: 10px;
    }


    .svg{
        z-index: 20;
        position: relative;
        display: block;
        width: 70%;
        height: 80%;
        margin: 0 auto;
    }

    @media only screen and (min-width: 650px) {
        .svg{
            width: 200px;
        }
       
        h1{
            font-size: 40px;
        }

        my-button{
            font-size: 17px;
        }
    }
   

    @media only screen and (min-width: 1000px)  {
       .svg{
            width: 500px;            
        }
        
        h1{
            font-size: 60px;
        }

        my-button{
            font-size: 30px;
        }

        
    }